/*  your css code here. If applicable */
#container{
margin:20px;
}

#container::before{
content:"This is BEFORE content";
color:#f00;
font-size:20px;
display:block;
}

#container::after{
content:"This is AFTER content";
color:#f00;
font-size:20px;
display:block;
}
